<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/chat-box.css">
<div class="container">
    <h3 class=" text-center">Messaging</h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>List Chat</h4>
                    </div>
                    <div class="srch_bar">
                        <div class="stylish-input-group">

                            <span class="input-group-addon">
                                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="inbox_chat">
                    {{#each listUser}}
                    <div class="chat_list active_chat">
                        <div class="chat_people">
                            <div class="chat_img"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                    fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                    <path fill-rule="evenodd"
                                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                </svg></div>
                            <div class="chat_ib">
                                <a href="/chat?user_id={{curr_id}}&message_to={{id}}">
                                    <h5>{{username}}<span class="chat_date"></span></h5>
                                </a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>


            </div>

            <div class="mesgs">
                {{#if list_massage}}
                <div class="msg_history">
                    {{#each list_massage}}
                    {{#ifEquals curr_id user_id}}
                    <div class="incoming_msg">

                        <div class="received_msg">
                            <p class="text-danger"><strong>{{fullname}}</strong></p>
                            <div class="received_withd_msg">
                                <p>{{chat_text}}</p>
                                <span class="time_date"> {{chat_at}}</span>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="outgoing_msg">

                        <div class="sent_msg">
                            <p>{{chat_text}}</p>
                            <span class="time_date"> {{chat_at}}</span>
                        </div>
                    </div>
                    {{/ifEquals }}
                    {{/each}}


                </div>
                {{/if}}
                {{#if state_message_to}}
                <div class="type_msg">
                    <div class="input_msg_write">
                        <form action="/insertMessage" method="post" class="was-validated">
                            <input type="text" class="write_msg" name="message_text" placeholder="Type a message" />
                            <input type="hidden" name="user_id" value="{{state_user}}">
                            <input type="hidden" name="message_to" value="{{state_message_to}}">
                            <div class="card-footer float-right ">
                                <div class="row">
                                    <button type="submit" class="btn btn-primary" type="button">Kirim</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {{else}}
                <h3>Pilih Kontak Terlebih Dahulu</h3>
                {{/if}}
            </div>

        </div>
        <div class="card-footer">
            <button class="btn btn-warning">
                <a style="color:#FFFFFF" class="nav-link" href="/">Kembali <span class="sr-only">(current)</span></a>
            </button>
        </div>

    </div>