<html>

<head>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/chat-box.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><span style="color:blueviolet">Komune Studio Chat Test</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <button class="btn btn-primary">
                        <a style="color:#FFFFFF" class="nav-link" href="/register">Registrasi <span
                                class="sr-only">(current)</span></a>
                    </button>
                
                </li>

            </ul>

        </div>
    </nav>
    </div>

    </div>
    <div class="container mt-4">
        <h4>Pilih User Untuk Chat</h4>
        <hr>
        <div class="row">
            {{#each userResult}}
            <div class="col-md-3">
                <a href="/chat?user_id={{id}}">
                    <div class="card">
                        <div class="card-body">
                            <h4>{{fullname}}</h4>
                        </div>
                    </div>
                </a>

            </div>
            {{/each}}

        </div>
</body>

</html>