<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Form Registrasi</h2>
        </div>
        <div class="card-body">
            <form action="/insertUser" method="post" class="was-validated">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username" name="username"
                        required>

                </div>
                <div class="form-group">
                    <label for="fullname">Full Name:</label>
                    <input type="text" class="form-control" id="fullname" placeholder="Enter Fullname" name="fullname"
                        required>

                </div>
                <button type="submit" class="btn btn-primary">Simpan</button>
            </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-warning">
                <a style="color:#FFFFFF" class="nav-link" href="/">Kembali <span class="sr-only">(current)</span></a>
            </button>
        </div>
    </div>


</div>